<fieldset>
  <legend>Person Details</legend>
  <table>
    <thead>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Middle Name</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @person.first_name %></td>
        <td><%= @person.last_name %></td>
        <td><%= @person.middle_name %></td>
      </tr>
    </tbody>
  </table>
</fieldset>