<html>
  <head>
    <title>Contacts Application</title>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="header">
    </div>
    <div id="page">
      <%= yield %>
    </div>
    <div id="footer">
    </div>
  </body>
</html>